* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #EEEEEE;
}

header {
    background-color: #3868D6;
    color: white;
}

.container {
    width: min(1024px, 100% - 4rem);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
}

header .container h1 {
    font-style: italic;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#about {
    margin-block-end: 2rem;
}

#about .container {
    margin-block-start: 3rem;
    align-items: flex-start;
    gap: 2rem;
    padding: 0;
}

#about .container img {
    width: 100%;
}

#about .container .sobre {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#products .container > h2,
#about .container .sobre h2 {
    color: #3868D6;
    font-style: italic;
    padding-block-end: 1rem;
    border-block-end: 2px solid #3868D6;
    width: 100%;
}

#products {
    margin-block-end: 4rem;
}

#products .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

#products .container .produtos {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(14.5rem, 1fr));
}

.produtos .produto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.produtos .produto img {
    width: 100%;
}

.produtos .produto h2 {
    margin-block-start: 1.5rem;
}

.produtos .produto p {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.produtos .produto button {
    cursor: pointer;
    padding: .5rem;
    border: none;
    background-color: #3868D6;
    color: white;
    font-weight: bold;
    border-radius: .25rem;
    margin-block-start: auto;
}

footer {
    background-color: #E7E4E7;
}

footer .container {
    padding-block: 2rem;
    justify-content: center;
}

@media screen and (max-width: 1023px) {
    #about .container {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 640px) {
    header .container {
        gap: 1rem;
        flex-wrap: wrap;
    }
}